# Index ve Cache Engelleme
Header always set X-Robots-Tag "noindex, nofollow"
Header always set Cache-Control "no-cache, no-store, must-revalidate, max-age=0"
Header always set Pragma "no-cache"
Header always set Expires "Thu, 01 Jan 1970 00:00:00 GMT"

# Bot engellemesi
RewriteEngine On
RewriteCond %{HTTP_USER_AGENT} (bot|crawler|spider|scraper|indexer) [NC]
RewriteRule .* - [F,L]